{% extends 'base.html.twig' %}


{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
 


    <div >
      {{ form_start(userForm) }}   

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cafés</h3>
          </div>
          <div class="card-body">
            <!-- Nom -->
            <div class="form-group">
              <label>Nom:</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                   {{ form_widget(userForm.nom) }}

                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-signature"></i></div>
                    </div>
                </div>
            </div>
             <!-- Prenom -->
             <div class="form-group">
                <label>Prenom:</label>
                  <div class="input-group date" id="reservationdate" data-target-input="nearest">
                     {{ form_widget(userForm.prenom) }}
  
                      <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-signature"></i></div>
                      </div>
                  </div>
              </div>
             <!-- email -->
             <div class="form-group">
              <label>Email:</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                   {{ form_widget(userForm.email) }}

                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-signature"></i></div>
                    </div>
                </div>
            </div>
              <!-- Role -->
              <div class="form-group">
                <label>Roles:</label>
                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                  {{ form_widget(userForm.roles) }}

                   <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                   </div>
               </div>
              </div> 
              </div>
             
      

           
            <!-- /.form group -->
          </div>
          
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
<div>
        {{ form_end(userForm) }}   
                  </div>

               

                






    </div>
{% endblock %}
           

                    




      
   
    
   
