{% extends 'headerfooter.html.twig' %}

{% block stylsheets %} 
 <!-- CSS here -->
<link rel="stylesheet" href="{{asset('front/assets/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/slicknav.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/flaticon.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/animate.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/fontawesome-all.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/themify-icons.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/slick.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/nice-select.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/style.css')}}">


{% endblock %}


{% block body %}


 <main>
    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center">
       <div class="container">
             <div class="row">
                <div class="col-xl-12">
                   <div class="hero-cap text-center pt-50">
                         <h2>{{cafe.nom}}</h2>
                   </div>
                </div>
             </div>
       </div>
    </div>
    <!--Hero End -->
    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section-padding">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 posts-list">
                <div class="single-post">
                   <div class="feature-img">
                     <img class="img-fluid" src="{{ asset('upload/photo/'~cafe.image) }}" height="600px" width="900px" >
                   </div>
                   <div class="blog_details">
                      <h2>{{cafe.nom}}
                      </h2>
                      <ul class="blog-info-link mt-3 mb-4">
                         <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                         <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                      </ul>
                      <p class="excert">
                        {{cafe.description}}
                      </p>
                     
                      
                   </div>
                </div>
                <div class="navigation-top">
                   <div class="d-sm-flex justify-content-between text-center">
                      <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                         people like this</p>
                      <div class="col-sm-4 text-center my-2 my-sm-0">
                         <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                      </div>
                      <ul class="social-icons">
                         <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                         <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                         <li><a href="#"><i class="fab fa-behance"></i></a></li>
                      </ul>
                   </div>
                  
                </div>
               
                <div class="comments-area">
                  
                   <h4> Liste Des Commentaires  </h4>
                
             <div class="comment-list">
                     {% for comment in cafe.comments %}

                     
                      <div class="single-comment justify-content-between d-flex">
                         <div class="user justify-content-between d-flex">
                          
                            <div class="desc">
                               <p class="comment">
                                  {{ comment.content}}
                               </p>
                               <div class="d-flex justify-content-between">
                                  <div class="d-flex align-items-center">
                                     <h5>
                                        {{comment.nom}}
                                     </h5>
                                     <p class="date">{{comment.createdAt|date("d/m/Y H:i" )}}</p>
                                  </div>
                                  <div class="reply-btn">
                                     <a href="#" class="btn-reply text-uppercase">reply</a>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <hr>
                     {% endfor %}
                     </div>
                </div>
                <div class="comment-form">
                  {{ form_start(comment_form) }}
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" >
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              {{ form_widget(comment_form.content) }}
                             
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                           {{ form_widget(comment_form.nom, {attr: { value :app.user.nom ~ " " ~app.user.prenom ,readonly:true }}) }} 
                            {% else %}
                            {{ form_widget(comment_form.nom) }}
                           {% endif %}
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                           {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                              {{ form_widget(comment_form.email,{ attr: { value : app.user.email ,readonly:true }} )  }} 
                           {% else %}
                            {{ form_widget(comment_form.email) }}
                           {% endif %}
                           </div>
                        </div>
                       
                     </div>
                     <div class="form-group">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ form_end(comment_form) }}
                       {% else %}
                       <a href="{{path('app_login')}}" class="button button-contactForm btn_1 boxed-btn">Envoyer Le Commentaire</a>
                       {% endif %}
                     </div>
                  </form>


                 </div>
               </div>
             <div class="col-lg-4">
                <div class="blog_right_sidebar">
      <iframe style="border:0; width: 100%; height: 350px;" class="img-fluid" src="https://maps.google.com/maps?q=+{{cafe.latitude}}+,+{{cafe.longitude}}+&hl=fr&z=14&amp;output=embed" frameborder="0" allowfullscreen></iframe>
                    <div class="address">
                      <span class="fas fa-map-marker-alt" ></span>	
                      <p> {{cafe.localisation}}<br></p>
                    </div>
                    {% if cafe.telephone != null %}
                    <div class="address">
                        <span  class="fas fa-mobile-alt"></span>
                        <p>{{cafe.telephone}}</p>
                    </div>
                    {% endif %}
                    {% if cafe.email != null %}
                    <div class="address">
                        <span class="fas fa-link"></span>
                        <p>{{cafe.email}}</p>
                    </div>
                    {% endif %}
                </div>
              
            </div>
          </div>
       </div>
    </section>
    <!--================ Blog Area end =================-->
 </main>

  
   
        
 
{% endblock %}

{% block javascripts %}

<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{asset('front/assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{asset('front/assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{asset('front/assets/js/popper.min.js')}}"></script>
        <script src="{{asset('front/assets/js/bootstrap.min.js')}}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{{asset('front/assets/js/jquery.slicknav.min.js')}}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{asset('front/assets/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('front/assets/js/slick.min.js')}}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{{asset('front/assets/js/wow.min.js')}}"></script>
		<script src="{{asset('front/assets/js/animated.headline.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.magnific-popup.js')}}"></script>

		<!-- Nice-select, sticky -->
        <script src="{{asset('front/assets/js/jquery.nice-select.min.js')}}"></script>
		<script src="{{asset('front/assets/js/jquery.sticky.js')}}"></script>
        
        <!-- contact js -->
        <script src="{{asset('front/assets/js/contact.js')}}"></script>
        <script src="{{asset('front/assets/js/contact.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.form.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('front/assets/js/mail-script.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.ajaxchimp.min.js')}}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{{asset('front/assets/js/plugins.js')}}"></script>
        <script src="{{asset('front/assets/js/main.js')}}"></script>



       

{% endblock %}