{% extends 'headerfooter.html.twig' %}

{% block stylsheets %}
<!-- CSS here -->
<link rel="stylesheet" href="{{asset('front/assets/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/slicknav.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/flaticon.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/animate.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/fontawesome-all.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/themify-icons.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/slick.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/nice-select.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/style.css')}}">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="{{asset('front/assets/img/favicon.ico')}}">
<script src="https://kit.fontawesome.com/90d952e4a3.js" crossorigin="anonymous"></script>

{% endblock %}
{% block body %}

    <main>

        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Catagories</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        <!-- Categories Area Start -->
        <div class="categories-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>We are offering for you</span>
                            <h2>Featured Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-umbrella-beach"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Vacances</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-coffee"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Cafés</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span  class="fas fa-wrench"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Bricolage</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-utensils"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Restaurants</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-dumbbell"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Sports</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-book-open"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Culture</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-lightbulb"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Vie Pratique</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-tshirt"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Vetements</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="fas fa-heartbeat"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="#">Sante</a></h5>
                                <p>Must explain your how this keind denoun pleasure</p>
                                <a href="listing.html">Details</a>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- Categories Area End -->
      
       

    </main>
  


{% endblock %}

{% block javascripts %}

<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{asset('front/assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{asset('front/assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{asset('front/assets/js/popper.min.js')}}"></script>
        <script src="{{asset('front/assets/js/bootstrap.min.js')}}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{{asset('front/assets/js/jquery.slicknav.min.js')}}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{asset('front/assets/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('front/assets/js/slick.min.js')}}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{{asset('front/assets/js/wow.min.js')}}"></script>
		<script src="{{asset('front/assets/js/animated.headline.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.magnific-popup.js')}}"></script>

		<!-- Nice-select, sticky -->
        <script src="{{asset('front/assets/js/jquery.nice-select.min.js')}}"></script>
		<script src="{{asset('front/assets/js/jquery.sticky.js')}}"></script>
        
        <!-- contact js -->
        <script src="{{asset('front/assets/js/contact.js')}}"></script>
        <script src="{{asset('front/assets/js/contact.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('front/assets/js/mail-script.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.ajaxchimp.min.js')}}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{{asset('front/assets/js/plugins.js')}}"></script>
        <script src="{{asset('front/assets/js/main.js')}}"></script>
       

{% endblock %}

