{% extends 'headerfooter.html.twig' %}

{% block stylsheets %}
<!-- CSS here -->
<link rel="stylesheet" href="{{asset('front/assets/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/slicknav.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/flaticon.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/animate.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/magnific-popup.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/fontawesome-all.min.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/themify-icons.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/slick.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/nice-select.css')}}">
<link rel="stylesheet" href="{{asset('front/assets/css/style.css')}}">

{% endblock %}

{% block body %}

   
    <main>

        <!-- Hero Start-->
        <div class="hero-area3 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <div class="hero-cap text-center pt-50 pb-20">
                            <h2>Nos Choix</h2>
                        </div>
                        <!--Hero form -->
                        
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        <!-- listing Area Start -->
        <div class="listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Left content -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                    <div class="small-section-tittle2 mb-45">
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Job Category Listing start -->
                        <div class="category-listing mb-50">
                            <!-- single one -->
                            <div class="single-listing">
                              
                                <!-- Select job items start >
                                <div class="select-job-items1">
                                    <select name="select1">
                                        <option value="">Choose categories</option>
                                        <option value="">Category 1</option>
                                        <option value="">Category 2</option>
                                        <option value="">Category 3</option>
                                    </select>
                                </div>
                                  Select job items End-->
                            
                              <div>
                                    <h1>Categories</h1>
                                   <a class="skander" href="{{path('affrestaurant')}}">Restaurants</a><br>
                                   <a class="skander" href="{{path('affcafe')}}">Cafes</a><br>
                                   <a class="skander" href="{{path('affsport')}}">Sports</a><br>
                                   <a class="skander" href="{{path('affvacance')}}">Vacances</a><br>
                                   <a class="skander" href="{{path('affvetement')}}">Vetements</a><br>
                                   <a class="skander" href="{{path('affculture')}}">Culture</a><br>
                                   <a class="skander" href="{{path('affvie_pratique')}}">Vie Pratique</a><br>
                                   <a class="skander" href="{{path('affsante')}}">Sante</a><br>   
                                   <a class="skander" href="{{path('affbricolage')}}">Bricolage</a><br>
                               </div>
                               
                               
                               <style>
                                   h1{
                                       color:black; 
                                       font-size: 40px

                                   }
                                .skander{
                                    color:gray; 
                                    font-size: 20px 
                                }
                                /* mouse over link */
                                .skander:hover {
                                    color: hotpink;
                                    font-size:140%;
                                }
                            </style>
                            </div>
                            
      
                        </div>
                        <!-- Job Category Listing End -->
                    </div>
                    <!-- Right content -->
                    <div class="col-xl-8 col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="count mb-35">
                                    <span>+100 Destinations</span>
                                </div>
                            </div>
                        </div>
                        <!-- listing Details Stat-->
                        <div class="listing-details-area">
                            <div class="container">
                                <div class="row">
                                  {% for vacance in vacances %}
                                    <div class="col-lg-6 ">
                                        <div class="single-listing mb-30">
                                            <div class="list-img">
                                                <img src="{{ asset('upload/photo/'~vacance.image) }}" height="300px" width="300px">
                                                <!-- <span>Open</span> -->
                                            </div>
                                            <div class="list-caption">
                                                <span>Open</span>
                                                <h3><a href="listing_details.html">{{ vacance.nom }}</a></h3>
                                                <p>{{ vacance.description }}</p><br>
                                                <p>{{ vacance.location }}</p><br>
                                                <div class="list-footer">
                                                    <ul>
                                                        <li>+10 278 367 9823</li>
                                                        <li>contact@midnight.com</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                        
                                </div>
                                

                            </div>
                        </div>
                        <!-- listing Details End -->
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- listing-area Area End -->

    </main>
   


   

{% endblock %}

{% block javascripts %}

<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{asset('front/assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{asset('front/assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{asset('front/assets/js/popper.min.js')}}"></script>
        <script src="{{asset('front/assets/js/bootstrap.min.js')}}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{{asset('front/assets/js/jquery.slicknav.min.js')}}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{asset('front/assets/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('front/assets/js/slick.min.js')}}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{{asset('front/assets/js/wow.min.js')}}"></script>
		<script src="{{asset('front/assets/js/animated.headline.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.magnific-popup.js')}}"></script>

		<!-- Nice-select, sticky -->
        <script src="{{asset('front/assets/js/jquery.nice-select.min.js')}}"></script>
		<script src="{{asset('front/assets/js/jquery.sticky.js')}}"></script>
        
        <!-- contact js -->
        <script src="{{asset('front/assets/js/contact.js')}}"></script>
        <script src="{{asset('front/assets/js/contact.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('front/assets/js/mail-script.js')}}"></script>
        <script src="{{asset('front/assets/js/jquery.ajaxchimp.min.js')}}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{{asset('front/assets/js/plugins.js')}}"></script>
        <script src="{{asset('front/assets/js/main.js')}}"></script>
       

{% endblock %}

