{% extends 'headerfooter.html.twig' %}
{% block body %}


<main>

    <!-- Hero Start-->
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Hero End -->
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3175.2672969191867!2d9.876712915158679!3d37.26508817985542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31fb58311b819%3A0x3e00e32cf5898662!2sCoworking%20Business%20Center%20CBC!5e0!3m2!1sfr!2stn!4v1626101437019!5m2!1sfr!2stn" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">Contactez Nous</h2>
                </div>
                <div class="col-lg-8">
                        {{form_start(ContactForm)}}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    
                                    {{ form_widget(ContactForm.message,{'attr': { "placeholder":"Message"}}) }}
                                 

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                   
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {{ form_widget(ContactForm.nom, {attr: { value :app.user.nom ~ " " ~app.user.prenom ,readonly:true }}) }} 
                                     {% else %}
                                     {{ form_widget(ContactForm.nom , {'attr': { "placeholder":"Nom"}} )}} 
                                     {% endif %}

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {{ form_widget(ContactForm.email, {attr: { value :app.user.email ,readonly:true }}) }} 
                                     {% else %}
                                    {{ form_widget(ContactForm.email , {'attr': { "placeholder":"E-mail"}} )}} 
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    {{ form_widget(ContactForm.sujet ,  {'attr': { "placeholder":"Sujet"}}) }} 

                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            {{form_end(ContactForm)}}
                        </div>
                      
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Bizerte, Tunisie</h3>
                            <p>CP 7000</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+216 52 464 649 </h3>
                            <h3>+216 55 203 244</h3>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>MVEP@gmail.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->

</main>  
      
 
        
 
{% endblock %}

{% block javascripts %}
{{parent()}}

<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{asset('front/assets/js/vendor/modernizr-3.5.0.min.js')}}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{{asset('front/assets/js/vendor/jquery-1.12.4.min.js')}}"></script>
       


{% endblock %}

