{% extends 'base.html.twig' %}


{% block title %}Restaurant{% endblock %}

{% block stylesheets %}
 <!-- Google Font: Source Sans Pro -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
 <!-- Font Awesome -->
 <link rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}">
 <!-- Ekko Lightbox -->
 <link rel="stylesheet" href="{{asset('plugins/ekko-lightbox/ekko-lightbox.css')}}">
 <!-- Theme style -->
 <link rel="stylesheet" href="{{asset('dist/css/adminlte.min.css')}}">
{% endblock %}

{% block javascripts %}
<!-- jQuery -->
<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- Ekko Lightbox -->
<script src="{{asset('plugins/ekko-lightbox/ekko-lightbox.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{asset('dist/js/adminlte.min.js')}}"></script>
<!-- Filterizr-->
<script src="{{asset('plugins/filterizr/jquery.filterizr.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset('dist/js/demo.js')}}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });

    $('.filter-container').filterizr({gutterPixels: 3});
    $('.btn[data-filter]').on('click', function() {
      $('.btn[data-filter]').removeClass('active');
      $(this).addClass('active');
    });
  })
</script>

{% endblock %}


{% block body %}
<!-- lfou9-->
   <div class="card-body">
     <div class="row">
                <div class="col-12 col-sm-6">
                  <h3 class="d-inline-block d-sm-none">{{ restaurant.nom }}</h3>
                  <div class="col-12">
                    <img src="{{ asset('upload/photo/'~restaurant.image) }}" class="product-image" alt="Product Image">
                  </div>
                  
                </div>
                <div class="col-12 col-sm-6">
                  <h3 class="my-3">{{ restaurant.nom }}</h3>
                  <p>{{ restaurant.description }}</p>
                  <h4 class="my-3">{{ restaurant.localisation }}</h4>
                  <hr>
                  
                <h4></h4>
                  <div class="col-12 col-sm-6">       
                        <a  class="btn btn-primary" href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">Edit</a>
                        <a class="btn btn-success" href="{{ path('restaurant_index') }}">Back to list</a>
                        
                        <hr>
                        {{ include('restaurant/_delete_form.html.twig') }}
                        
                      
                      </div>

                </div>
              
      </div>
   </div>     
<!--endlfouk-->

 <!-- Main content -->
 <section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h4 class="card-title">{{restaurant.nommenu}}</h4>
          </div>
          <div class="card-body">
            <div>
              <div class="btn-group w-100 mb-2">
                <a class="btn btn-info active" href="javascript:void(0)" data-filter="all"> All items </a>
                <a class="btn btn-info " href="javascript:void(0)" data-filter="1"> Entrées </a>
                <a class="btn btn-info" href="javascript:void(0)" data-filter="2"> FastFood </a>
                <a class="btn btn-info" href="javascript:void(0)" data-filter="3"> Plat </a>
                <a class="btn btn-info" href="javascript:void(0)" data-filter="4"> Dessert </a>
              </div>
              
            </div>
            <div>
              <div class="filter-container p-0 row">
               <div> 
                    {% for plat in plats %}
                    {% if (plat.idresto == restaurant.nommenu ) %}
                    {% if (plat.categorie == "Entrées" ) %}
                <div class="filtr-item col-sm-2" data-category="1" data-sort="white sample"> 
                  <a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white">
                    <img src="{{ asset('upload/photo/'~plat.image) }}"  height="150px" width="150px" />
                  </a>
                </div>
                  {% endif %}     
                  {% endif %} 
                  {% endfor %}
                </div>   

                <div> 
                  {% for plat in plats %}
                  {% if (plat.idresto == restaurant.nommenu ) %}
                  {% if (plat.categorie == "FastFood" ) %}
              <div class="filtr-item col-sm-2" data-category="2" data-sort="black sample"> 
                <a href="https://via.placeholder.com/1200/FFFFFF.png?text=2" data-toggle="lightbox" data-title="sample 2 - black">
                  <img src="{{ asset('upload/photo/'~plat.image) }}"  height="150px" width="150px"/>
                </a>
              </div>
                {% endif %}     
                {% endif %} 
                {% endfor %}
              </div>   

              <div> 
                {% for plat in plats %}
                {% if (plat.idresto == restaurant.nommenu ) %}
                {% if (plat.categorie == "Plat" ) %}
            <div class="filtr-item col-sm-2" data-category="3" data-sort="red sample"> 
              <a href="https://via.placeholder.com/1200/FFFFFF.png?text=3" data-toggle="lightbox" data-title="sample 3 - red">
                <img src="{{ asset('upload/photo/'~plat.image) }}"  height="150px" width="150px"/>
              </a>
            </div>
              {% endif %}     
              {% endif %} 
              {% endfor %}
            </div>   

            <div> 
              {% for plat in plats %}
              {% if (plat.idresto == restaurant.nommenu ) %}
              {% if (plat.categorie == "Dessert" ) %}
          <div class="filtr-item col-sm-2" data-category="4" data-sort="red sample"> 
            <a href="https://via.placeholder.com/1200/FFFFFF.png?text=4" data-toggle="lightbox" data-title="sample 4 - red">
              <img src="{{ asset('upload/photo/'~plat.image) }}" "150x150" height="150px" width="150px" />
            </a>
          </div>
            {% endif %}     
            {% endif %} 
            {% endfor %}
          </div>   
                    

     
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
 

     
  
{% endblock %}
