{{ form_start(form) }}

     <!-- /.col (left) -->
          <div >
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Vacances</h3>
              </div>
              <div class="card-body">
                  <!--Categorie-->
                  <div class="form-group">
                    <label>Categorie:</label>
                      <div class="input-group date" id="reservationdate" data-target-input="nearest">
                         {{ form_widget(form.categorie,{'attr':{"class":"form-control datetimepicker-input" }}) }}
  
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-signature"></i></div>
                          </div>
                      </div>
                  </div>
                <!-- Nom -->
                <div class="form-group">
                  <label>Nom:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                       {{ form_widget(form.nom,{'attr':{"class":"form-control datetimepicker-input" , "placeholder":"Saisir le Nom"}}) }}

                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-signature"></i></div>
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="form-group">
                  <label>Description:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                       {{ form_widget(form.description,{'attr':{"class":"form-control datetimepicker-input" , "placeholder":"Description"}}) }}

                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-signature"></i></div>
                        </div>
                    </div>
                </div>
                <!-- /.form group -->
                <!-- Localisation -->
                <div class="form-group">
                  <label>Localisation:</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-globe"></i>
                      </span>
                    </div>
                       {{ form_widget(form.location,{'attr':{"class":"form-control datetimepicker-input" }}) }}
                  </div>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->

                <!-- Image -->
                <div class="form-group">
                  <label>Image:</label>

                  <div class="input-group">
                    <div class="custom-file">
                     
                        {{ form_widget(form.image,{'attr':{"class":"custom-file-input" }}) }}
                      <label class="custom-file-label" for="customFile">{{ vacance.image }}</label>
                    </div>
                     
                  </div>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->

               
                <!-- /.form group -->
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
<div>
                        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                      </div>
        {{ form_end(form) }}
   
        </div>

   
