{{ form_start(form) }}

     <!-- /.col (left) -->
          <div >
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Menu</h3>
              </div>
              <div class="card-body">
                   <!-- Nom -->
                <div class="form-group">
                    <label>Nom Menu:</label>
                      <div class="input-group date" id="reservationdate" data-target-input="nearest">
                         {{ form_widget(form.nommenu,{'attr':{"class":"form-control datetimepicker-input", "placeholder":"Nom Menu"}}) }}
  
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-signature"></i></div>
                          </div>
                      </div>
                  </div>
                <!-- Nom Resto -->
                <div class="form-group">
                  <label>Nom Restaurant:</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                       {{ form_widget(form.idrestaurant,{'attr':{"class":"form-control datetimepicker-input"}}) }}

                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-signature"></i></div>
                        </div>
                    </div>
                </div>
               
               
              
               
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
<div>
                        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                      </div>
        {{ form_end(form) }}
   
        </div>

   
