{% extends 'base.html.twig' %}

{% block title %}Sport index{% endblock %}
        {% block stylesheets %}
        {{parent()}}
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{asset('lugins/fontawesome-free/css/all.min.css')}}p">
        <!-- DataTables -->
        <link rel="stylesheet" href="{{asset('plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
        <link rel="stylesheet" href="{{asset('plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
        <link rel="stylesheet" href="{{asset('plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{asset('dist/css/adminlte.min.css')}}">

        {% endblock %}
        
      
{% block body %}
 <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Gestion Sports</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                <tr>
                <th>Id</th>
                <th>categorie</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Description</th>
                <th>Localisation</th>
              
                <th>actions</th>
                </tr>
                  </thead>
                <tbody>
        {% for sport in sports %}
            <tr>
                <td>{{ sport.id }}</td>
                <td>{{ sport.categorie }}</td>
                <td>{{ sport.nom }}</td>
                <td> <img src="{{ asset('upload/photo/'~sport.image) }} "  height="100px" width="100px"></td>
                 <td>{{ sport.email }}</td>
                 <td>{{ sport.telephone }}</td> 
                <td>{{ sport.description }}</td>
                <td>{{ sport.localisation }}</td>
              
             
                <td>
                    <a class="btn btn-info" href="{{ path('sport_show', {'id': sport.id}) }}">Show</a>
                    <a class="btn btn-warning"  href="{{ path('sport_edit', {'id': sport.id}) }}">Edit</a>
                    <hr>
                     {{ include('sport/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                 
                </table>
              </div>
               <a class="btn btn-success" href="{{ path('sport_new') }}">Create </a>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->  
  

   
{% endblock %}

  {% block javascripts %}
  {{parent()}}
                    <!-- jQuery -->
            <script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
            <!-- Bootstrap 4 -->
            <script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <!-- DataTables  & Plugins -->
            <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
            <script src="{{asset('plugins/jszip/jszip.min.js')}}"></script>
            <script src="{{asset('}plugins/pdfmake/pdfmake.min.js')}}"></script>
            <script src="{{asset('plugins/pdfmake/vfs_fonts.js')}}"></script>
            <script src="{{asset('plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
            <script src="{{asset('plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
            <!-- AdminLTE App -->
            <script src="{{asset('dist/js/adminlte.min.js')}}"></script>
            
            
            <!-- Page specific script -->
            <script>
            $(function () {
                $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                });
            });
            </script>

         {% endblock %}